.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
ul.pagination li.page-item.active button.page-link {
  color: #445565;
  background-color: #e3e7eb;
  border-color: #ced4da;
  cursor: auto;
}

ul.pagination button.page-link {
  padding: 0.75rem 1rem;
  min-width: 3.5rem;
  text-align: center;
  box-shadow: none;
  border-color: #ced4da;
  color: #6b88a4;
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
}

.page-link {
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

ul.pagination button.page-link:hover {
  background-color: #f4f4f4;
}
