@import '../../colors';

.responsive-table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  color: $charleston-green;
    
  thead {
    visibility: hidden;
    background: $light_grey_bg;
    @media (min-width: 600px) {
      visibility: visible;
    }
  }
  
  tr {
    border: 1px solid $anti-flash-white;
    border-bottom: 2px solid $anti-flash-white;
    padding: 5px;
    margin-bottom: 10px;
    display: block;
    @media (min-width: 600px) {
      display: table-row;
      border-bottom-width: 1px;
      margin-bottom: 0;
      
      &:nth-child(even) {
        background: $light_grey_bg;
      }
    }
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    text-transform: uppercase;
    font-size: 20px;
  }
    
  td {
    display: block;
    text-align: left;
    font-size: 13px;
    border-bottom: 1px dotted $anti-flash-white;
    
    &:last-child {
      border-bottom: none;
    }
      
    @media (min-width: 600px) {
      display: table-cell;
      font-size: 20px;
      border-bottom: none;
    }
  }

  @media (min-width: 600px) {
    tbody tr:hover {
      background: $light_grey_bg_hover;
    }
  }
}
