.App {
  text-align: center;
	background-color: #1abc9c;
	color: rgb(57, 57, 57);
  padding: 5px;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

button:focus {
  outline: 0;
}