$light_grey_bg:rgba(0,0,50,.02);
$light_grey_bg_hover:rgba(0,0,0,.05);
$anti-flash-white: #EDF2F4;
$charleston-green: #2E282A;
$gray-blue: #8D99AE;
$dark-turquoise: #04C8DE;
$dark-turquoise2: #1abc9c;